@import url('https://fonts.googleapis.com/css?family=Cabin');

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
body {
	color:#333;
	font-family: 'Cabin', sans-serif;
}
section {
	padding:4em 0;
}
header img {
	display:inline-block;
	margin:1em 0 0 1em;
}
nav {
  background-color: #8dc53e;
  color:#F8FAF8;
}
nav a {
  text-decoration: none;
  padding: 1em;
  display: inline-block;
}

footer {
	background-color: lightgrey;
}



.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

a {
	color:inherit;
}
h2 {
	font-style: italic;
	font-size: 20px;
}
h4 {
		font-size: 25px;
		text-align: center;
}
#intro{
	background: linear-gradient(rgba(101, 14, 120, 0.5), rgba(101, 14, 120, 0.5)),url(../images/on_set01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #F8FAF8;
	padding: 4em 0 0;
	font-size: 2em;
	height: 80vh;
	text-shadow: 1px 1px 2px rgba(0,0,0,.25);
}
#portfolio img {
	float:left;
	width: 33.33%;
	height: 33.33%;
	padding: .5em;
}
