@import url('https://fonts.googleapis.com/css?family=Cabin');

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
body {
	color:#333;
	font-family: 'Cabin', sans-serif;
}
section {
	padding:4em 0;
}
header img {
	display:inline-block;
	margin:1em 0 0 1em;
}
nav {
  background-color: #8dc53e;
  color:#F8FAF8;
}
nav a {
  text-decoration: none;
  padding: 1em;
  display: inline-block;
}

footer {
	background-color: lightgrey;
}



.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

a {
	color:inherit;
}

h1 {
	font-size: 32px;
}

h2 {
	font-style: italic;
	font-size: 20px;
}
h4 {
	font-size: 25px;
	text-align: center;
}
#intro{
	background: linear-gradient(rgba(101, 14, 120, 0.5), rgba(101, 14, 120, 0.5)),url(../images/on_set01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #F8FAF8;
	padding: 2em 0 0;
	font-size: 2em;
	height: 80vh;
	text-shadow: 1px 1px 2px rgba(0,0,0,.25);
}
#about{
	display: inline-block;
	color: black;
	padding: 2em 0 0;
	font-size: 1em;
}

#portfolio img {
	float:left;
	width: 33.33%;
	height: 33.33%;
	padding: .5em;
}

@media only screen and (max-width: 480px) {
  nav {
    display: block;
    text-align: center;
    float: none;
  }

  header img {
  	width: 20%;
	}

	h1, h2, #intro {
		font-size: 1em;
}
  #portfolio img {
  	width: 50%;
  	padding: .5 em;
  }
    nav a {
    margin: 0 .5em .5em;
  }

@media only screen and (max-width: 380px) {
  nav {
    /*display: block;*/
    /*text-align: center;*/
    float: none;
}

@media only screen and (max-width: 280px) {
  #portfolio img {
  	width: 100%;
  	padding: .3 em;
  }
}
